* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

/*utilities*/

.container {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*header*/

.head {
    width: 100%;
    height: 100px;
    background-color: rgb(110, 4, 4);
}

img.brand {
    height: 60px;
}

nav ul.navigation{
    margin-top: 15px;
    list-style: none;
}

.navigation li {
    margin-right: 15px;
    display: inline-block;
}

.navigation li:last-child {
    margin-right: 0;
}




/*main content*/

/*first section*/
.img-box {
    width: 100%;
    height: 400px;
    margin: 15px 0;
    background-color: chartreuse;
    border-radius: 10px;
}

/*second section with float*/

section.container {
    padding-bottom: 15px;
    background-color: lightseagreen;
}

div.head {
    height: 80px;
    background-color: darkgreen;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;

}

.side {
    width: 20%;
    height: 400px; /* fake content*/
    margin-top: 15px;
    background-color: darkgreen;
}

.main-box {
    width: 58%;
    height: 400px; /*fake content*/
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: darkgreen;

}

.side.float,
.main-box.float {
    float: left;
}

/*footer*/

.foot {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background: rgb(6, 91, 102);
}